@import "tailwindcss";

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Geist', sans-serif;
}
